@import "tailwindcss";

@theme {
  --color-background: #f0f0f0;
  --color-foreground: #181818;
  --text-body-base: 15px;
  --text-body-base--line-height: 1.9;
  --text-body-base--letter-spacing: 0.05em;
  --text-body-base--font-weight: 500;
  --text-body-sm: 14px;
  --text-body-sm--line-height: 1.9;
  --text-body-sm--letter-spacing: 0.05em;
  --text-body-sm--font-weight: 500;
}

:root {
  --background: #f0f0f0;
  --foreground: #181818;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-weight: 500 !important;
  font-feature-settings: "palt";
  font-family: 'Manrope', 'dnp-shuei-gothic-gin-std', "sans-serif";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
  font-feature-settings: "palt";
}