@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #f8f8f8;
  --color-foreground: #242424;
  --color-primary: #28A8D0;

  --text-body-base: 15px;
  --text-body-base--line-height: 1.9;
  --text-body-base--letter-spacing: 0.05em;
  --text-body-base--font-weight: 500;
  --text-body-sm: 14px;
  --text-body-sm--line-height: 1.9;
  --text-body-sm--letter-spacing: 0.05em;
  --text-body-sm--font-weight: 500;

  --container-dp: 1280px;
  --container-pc: 1080px;
  --container-tb: 800px;
  --container-sp: 375px;

  --breakpoint-dp: 1280px;
  --breakpoint-pc: 1080px;
  --breakpoint-tb: 800px;
  --breakpoint-sp: 375px;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-weight: 500 !important;
  font-feature-settings: "palt";
  font-family: 'Manrope', 'dnp-shuei-gothic-gin-std', "sans-serif";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
  font-feature-settings: "palt";
}

/* Prose */
.prose p {
  @apply text-body-base text-foreground mb-6;
}

.prose h3 {
  @apply text-xl sm:text-2xl font-medium mt-6 mb-2 w-full;
}

.prose img {
  @apply m-0 rounded-md;
}

/* Table */
.prose table {
  @apply w-fit bg-gray-50 border border-gray-200 rounded-lg py-4 px-6 border-separate border-spacing-0 mb-8;
}

.prose table thead {
  @apply hidden;
}

.prose table tbody {
  @apply flex flex-col gap-4 sm:flex-row sm:gap-10;
}

.prose table tbody tr {
  @apply flex flex-col border-none;
}

.prose table tbody tr td {
  @apply p-0 border-none bg-transparent;
}

.prose table tbody tr td:first-child {
  @apply font-semibold text-foreground mb-1;
}

.prose table tbody tr td:last-child {
  @apply text-gray-500;
}

/* Hide Scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* View Transition */
@keyframes outAnimation {
  from { opacity: 1; filter: blur(0); }
  to   { opacity: 0; filter: blur(2px); }
}

@keyframes inAnimation {
  from { opacity: 0; filter: blur(3px); transform: translateY(30px); }
  to   { opacity: 1; filter: blur(0); transform: translateY(0); }
}

.page-fade-out {
  animation: outAnimation 0.4s ease forwards;
}

.page-fade-in {
  animation: inAnimation 1.5s cubic-bezier(.1,1,.3,1) forwards;
}