@import "tailwindcss";

@theme {
  --color-background: #f0f0f0;
  --color-foreground: #181818;

  --text-body-base: 15px;
  --text-body-base--line-height: 1.9;
  --text-body-base--letter-spacing: 0.05em;
  --text-body-base--font-weight: 500;
  --text-body-sm: 14px;
  --text-body-sm--line-height: 1.9;
  --text-body-sm--letter-spacing: 0.05em;
  --text-body-sm--font-weight: 500;

  --container-dp: 1280px;
  --container-pc: 1080px;
  --container-tb: 800px;
  --container-sp: 375px;

  --breakpoint-dp: 1280px;
  --breakpoint-pc: 1080px;
  --breakpoint-tb: 800px;
  --breakpoint-sp: 375px;
}

:root {
  --background: #f0f0f0;
  --foreground: #181818;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-weight: 500 !important;
  font-feature-settings: "palt";
  font-family: 'Manrope', 'dnp-shuei-gothic-gin-std', "sans-serif";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
  font-feature-settings: "palt";
}

/* スクロールバーを隠す */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* View Transition */
@keyframes outAnimation {
  from { opacity: 1; filter: blur(0); }
  to   { opacity: 0; filter: blur(2px); }
}

@keyframes inAnimation {
  from { opacity: 0; filter: blur(3px); transform: translateY(30px); }
  to   { opacity: 1; filter: blur(0); transform: translateY(0); }
}

.page-fade-out {
  animation: outAnimation 0.4s ease forwards;
}

.page-fade-in {
  animation: inAnimation 1.5s cubic-bezier(.1,1,.3,1) forwards;
}