---
import ProfileSection from '../components/index/ProfileSection.astro';
import SkillsSection from '../components/index/SkillsSection.astro';
import WorksHighlight from '../components/index/WorksHighlight.astro';
import ContactSection from '../components/index/ContactSection.astro';
import { skills } from '../data/skills';
import Layout from '../layouts/Layout.astro';

const meta = {
  title: 'Home | Chiba Yuto',
};
---

<Layout title={meta.title} footerMaxWidth="pc">
  <div class="text-body-sm sm:text-body-base tracking-wider">
    <div
      class="max-w-pc mx-auto flex flex-col gap-8 px-5 py-28 sm:px-20 sm:py-40"
    >
      <ProfileSection />
    </div>

    <WorksHighlight />

    <div
      class="max-w-pc mx-auto flex flex-col gap-8 px-5 pt-24 pb-12 sm:px-20 sm:pt-32 sm:pb-20"
    >
      <div class="flex w-full flex-col gap-20 sm:gap-28">
        <SkillsSection skills={skills} />
        <ContactSection />
      </div>
    </div>
  </div>
</Layout>
