---
const year = new Date().getFullYear();
---

<footer class="text-body-sm sm:text-body-base py-8">
  <div class="flex justify-between items-center px-5 sm:px-20 mx-auto">
    <p>Yuto CHIBA</p>
    <p class="flex gap-6">
      &copy; {year} Yuto CHIBA.
    </p>
  </div>
</footer>
