---
import { getCollection } from "astro:content";
import type { Work } from "../../types/work";
import { getAssetFolderName, getThumbnailPath } from "../../utils/work";

const rawWorks = await getCollection("works");

const worksWithThumbnails: Work[] = rawWorks.map((work) => {
  const { body } = work;
  if (!body) return work;
  const obsidianImageMatch = body.match(/!\[\[([^\]]+)\]\]/);
  if (obsidianImageMatch) {
    const filename = obsidianImageMatch[1];
    const assetFolderName = getAssetFolderName(work);
    return {
      ...work,
      thumbnail: getThumbnailPath(work, filename),
    };
  }
  return work;
});

const works = worksWithThumbnails.sort(
  (a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime(),
);
---

<div class="w-full overflow-x-hidden">
  <div class="flex w-[10000px]">
    <div class="animate-scroll flex">
      {
        works.map((work: Work) => {
          const imageSrc = work.thumbnail;
          return (
            <div class="flex flex-col justify-end gap-1 items-end">
              {imageSrc && (
                <img
                  src={imageSrc}
                  alt={work.id || "作品のサムネイル画像"}
                  class="w-auto h-[350px] object-cover"
                  height={350}
                  decoding="async"
                  loading="eager"
                />
              )}
              <div class="text-gray-500 text-[10px] text-right px-1">
                {work.id}
              </div>
            </div>
          );
        })
      }
    </div>
    <style>
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
      }

      .animate-scroll {
        animation: scroll 60s linear infinite;
      }
    </style>
  </div>
</div>
