---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import type { Work } from '../../types/work';
import { getThumbnailPath, getAssetFolderName } from '../../utils/work';
import { getWorkImage } from '../../utils/assets';

const rawWorks = (await getCollection('works')).filter(
  (work) => !work.id.startsWith('template/')
);

const worksWithThumbnails: Work[] = rawWorks.map((work) => {
  const { thumbnail } = work.data;
  if (!thumbnail) return work;

  const obsidianImageMatch = thumbnail.match(/!?\[\[([^\]]+)\]\]/);
  if (!obsidianImageMatch) return work;

  const filename = obsidianImageMatch[1];

  return {
    ...work,
    thumbnail: getThumbnailPath(work, filename),
  };
});

const works = worksWithThumbnails.sort(
  (a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime()
);

const worksWithImages = await Promise.all(
  works.map(async (work) => {
    let imageMetadata;
    const { thumbnail } = work.data;

    if (thumbnail) {
      const match = thumbnail.match(/!?\[\[([^\]]+)\]\]/);
      if (match) {
        const filename = match[1];
        const workId = getAssetFolderName(work);
        imageMetadata = await getWorkImage(workId, filename);
      }
    }

    return {
      work,
      imageMetadata,
    };
  })
);
---

<div class="min-h-[380px] w-full overflow-x-hidden">
  <div class="flex w-[10000px]">
    <div class="animate-scroll flex">
      {
        worksWithImages.map(({ work, imageMetadata }) => {
          return (
            <div class="flex flex-col items-end justify-end gap-1">
              {imageMetadata && (
                <Image
                  src={imageMetadata}
                  alt={work.id || '作品のサムネイル画像'}
                  class="h-[350px] w-auto object-cover"
                  height={350}
                  format="avif"
                  quality={75}
                />
              )}
              <div class="px-1 text-right text-[10px] text-gray-500">
                {work.id}
              </div>
            </div>
          );
        })
      }
    </div>
    <style>
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
      }

      .animate-scroll {
        animation: scroll 60s linear infinite;
      }
    </style>
  </div>
</div>
