---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  className?: string;
  name: string;
  thumbnail?: string;
  image?: ImageMetadata;
}

const { className = '', name, image } = Astro.props;
---

<div class={`w-full ${className}`}>
  {
    image ? (
      <Image
        class="h-auto w-full rounded-4xl corner-lg"
        src={image}
        alt={name}
        format="avif"
        quality={75}
        priority
      />
    ) : (
      <div class="flex h-64 w-full items-center justify-center rounded-4xl corner-lg">
        <p class="text-gray-500">画像がありません</p>
      </div>
    )
  }
</div>
