---
interface Props {
  className?: string;
  name: string;
  thumbnail?: string;
}

const { className = "", name, thumbnail } = Astro.props;

const imageSrc = typeof thumbnail === "string" ? thumbnail : undefined;
---

<div class={`w-full ${className}`}>
  {
    imageSrc ? (
      <img
        class="rounded-lg border-gray-200 border w-full h-auto"
        src={imageSrc}
        alt={name}
        decoding="async"
        loading="eager"
      />
    ) : (
      <div class="w-full h-64 bg-gray-200 rounded-lg flex items-center justify-center">
        <p class="text-gray-500">画像がありません</p>
      </div>
    )
  }
</div>
