---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  className?: string;
  name: string;
  thumbnail?: string;
  image?: ImageMetadata;
}

const { className = '', name, image } = Astro.props;
---

<div class={`w-full ${className}`}>
  {
    image ? (
      <Image class="corner-3xl h-auto w-full" src={image} alt={name} priority />
    ) : (
      <div class="corner-3xl flex h-64 w-full items-center justify-center">
        <p class="text-gray-500">画像がありません</p>
      </div>
    )
  }
</div>
